body
{
    background-image: url("taylor-armstrong-cat-yelling-meme.jpg");
    background-repeat: no-repeat;
    background-size: 600px 450px;

}
button
{
    position: relative;
        left: 600px;
        top: 200px;
        font-size: 50px;
}
